.about-boxes {
  border: black solid 2px;
  text-align: center;
  margin: 25px;
  display: inline-block;
  width: 500px;
  height: 150px;
  float: left;
  background-color: #19171C

}

.about-boxes .about-headers {
  color: #B8B5C0;
  text-decoration: underline;
  padding: 5px;
  font-family: arial;
  font-style: italic;
  font-weight: bold;

}


.about-boxes .about-text {
  color: #B8B5C0;
  font-family: arial;
}
