.side-bar {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	background-color: #19171C;
	border-right: black solid 1px;
	width: 12%;
	color: #b8b5c0;
}

.side-bar .item {
	border-bottom: black solid 2px;

}

.side-bar .item a {
	text-decoration: none;
	color: inherit;
}

.side-bar .item .item-content {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
  font-family: arial;
  font-style: italic;
  font-weight: bold;
}
